@import url('https://fonts.googleapis.com/css2?family=Stick+No+Bills&display=swap');

.notice{
    background-color: #fff;
    margin: 0px auto;
    width: 90%;
    padding-bottom: 4vw;
    font-family: monospace;
}
.notice > h1{
    padding-top: 4vw;
    font-size: 3.2rem;
    font-family: "Stick No Bills";
    margin-bottom: 4vw;
    text-align: center;

}

.notice__container{
    margin:  0px auto;
    width: 75%;
}

.notice__heading{
    background-color: #DEA8A8;
    padding: 8px;
    font-size: 1.1rem;
}

.notice__box{
    margin-top: 25px;
}

.notice__share{
    position: relative;
    left: 91%;
    text-align: center;
    background-color: #8EB4CA;
    width: 80px;
    padding: 10px;
    font-weight: bold;
    border-radius: 30%;
    font-size: 1rem;
}